.login {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.fundo {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.fundo-animation {
    width: 100%;
    height: 100%;

    transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.bola {
    position: absolute;
    border-radius: 50%;

    filter: blur(80px);

    will-change: transform, scale;
    animation: 
        mover infinite alternate ease-in-out,
        tamanho infinite alternate ease-in-out;
}

@keyframes mover {
    to {
        translate: var(--x) var(--y);
    }
}

@keyframes tamanho {
    to {
        scale: var(--s);
    }
}

.b1 {
    background-color: var(--roxo-primario);
    top: 10%;
    left: 30%;
    width: 150px;
    height: 150px;

    --x:  -30vw;  --y: 27vh;  --s: 1.6;
    animation-duration: 6s;
}

.b2 {
    background-color: var(--roxo-hover);
    top: 80%;
    left: 5%;
    width: 190px;
    height: 190px;

    --x: 18vw;  --y: 20vh;  --s: 1.4;
    animation-duration: 8s;
}

.b3 {
    background-color: var(--roxo-escuro);
    top: 55%;
    left: 85%;
    width: 220px;
    height: 220px;

    --x: -20vw;  --y:  -25vh;  --s: 1.8;
    animation-duration: 12s;
}

.login-card {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 80vh;
    max-width: 1200px;
    border: 1px solid var(--borda);
    border-radius: 16px;
    backdrop-filter: blur(40px);
    overflow: hidden;
}

.login-form {
    padding: 48px;
    background-color: hsla(0, 0%, 9%, 20%);
}

.login-marca {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 40px;
}

.login-logo {
    width: 36px;
}

.login-marca b {
    color: var(--roxo-hover);
}

.login-form h1 {
    font-size: 2.2em;
}

.login-sub {
    color: var(--texto-suave);
    font-size: 0.9em;
    margin-bottom: 32px;
}

.campo {
    margin-bottom: 20px;
}

.campo label {
    display: block;
    font-size: 0.9em;
    font-weight: 600;
    margin-bottom: 8px;
}

.campo input {
    width: 100%;
    height: 52px;
    padding: 0 16px;
    background-color: var(--fundo);
    border: 1px solid var(--borda);
    border-radius: 10px;
    color: var(--texto);
}

.campo input:focus {
    outline: none;
    border-color: var(--roxo-primario);
}

.login-opcoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em;
    margin-bottom: 24px;
}

.lembrar {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.lembrar input {
    width: 18px;
    height: 18px;
    accent-color: var(--roxo-primario);
    border-radius: 20px;
}

.login-opcoes a {
    color: var(--roxo-hover);
}

.login-opcoes a:hover {
    text-decoration: underline;
}

.login-form .btn {
    margin-bottom: 12px;
}

.form-info {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px;
    border-left: 1px solid var(--borda);
    background-color: hsla(0, 0%, 9%, 80%);
}

.form-info h2 {
    font-size: 2em;
    line-height: 1.1;
    margin-bottom: 16px;
}

.form-info>p {
    color: var(--texto-suave);
    font-size: 1em;
}

.login-minis {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-top: 40px;
}

.mini {
    background-color: rgba(255, 255, 255, 0.03);
    border: 1px solid var(--borda);
    border-radius: 12px;
    padding: 12px;
}

.mini-capa {
    aspect-ratio: 1;
    border-radius: 8px;
    background-color: var(--superficie-clara);
    margin-bottom: 12px;
}

.mini strong {
    display: block;
    font-size: 0.9em;
}

.mini span {
    font-size: 0.8em;
    color: var(--texto-fraco);
}

@media (max-width: 900px) {
    .form-info {
        display: none;
    }

    .login-card {
        grid-template-columns: 1fr;
        max-width: 500px;
    }

    .login-form {
        padding: 32px 24px;
    }

    .login-card[data-mode="registro"] .login-form {
        transform: none;
    }
}

.form-registro .campo-senhas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.login-card[data-modo="registro"] .login-form {
    transform: translateX(100%);
}

.login-card[data-modo="registro"] .form-info {
    transform: translateX(-100%);
}

.login-card[data-modo="login"] .form-registro {
    display: none;
}

.login-card[data-modo="registro"] .form-login {
    display: none;
}

.login-card[data-modo="login"] [data-quando="registro"] {
    display: none;
}

.login-card[data-modo="registro"] [data-quando="login"] {
    display: none;
}

.login:has(.login-card[data-modo="registro"]) .fundo-animation {
    transform: rotate(180deg);
}

.login:has(.login-card[data-modo="login"]) .fundo-animation {
    transform: rotate(0deg);
}

.login-card {
    view-transition-name: card;
}

.login-form {
    view-transition-name: form;
}

.form-info {
    view-transition-name: info;
}

::view-transition-group(card),
::view-transition-group(form),
::view-transition-group(info),
::view-transition-old(form),
::view-transition-old(info),
::view-transition-new(form),
::view-transition-new(info) {
    animation-duration: 600ms;
    animation-timing-function: cubic-bezier(04, 0, 0.2, 1);
}