.conteudo-cabecalho {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.navegacao {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.abas {
    display: flex;
    gap: 10px;
}

.filtros {
    display: flex;
    gap: 10px;
}