/** Global Settings */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: "Montserrat";
}

:root {
    --cor-botao-play: #7128cc;
}

/****************************************************************************************************************************************/

/* body {
    background: #341622;
    background: linear-gradient(180deg, rgba(52, 22, 34, 1) 0%, rgba(88, 21, 31, 1) 50%, rgba(29, 12, 17, 1) 100%);
} */

.album-text-info {
    margin-top: 40px;
    
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.album-text-info h3 {
    font-size: 20px;
}

#capa-album {
    border-radius: 5px;

    margin-top: 25px;
    margin-bottom: 15px;

    width: 300px;
    height: 300px;
}

.album-text-info h1 {
    margin-bottom: 12px;
}

.info-artist-album img {
    margin-bottom: 30px;
}

.info-artist-album {
    display: flex;

    justify-content: center;
}

/* .btn-principais {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 30px;
    margin-bottom: 120px;

    border: 2px solid #0088ff;
}

.btn-play i {
    width: 50%;
}

.btn-play {
    background-color: var(--cor-botao-play);

    border: 2px solid #fff;

    border-radius: 50%;

    width: 4%;
    height: 9%;


    transform: translateX(0%);


}

.btn-salvar {
    display: flex;

    border: 2px solid #fff;

    width: 30%;
    height: 30%;

}

.btn-more {
    display: flex;

    border: 2px solid #fff;
} */

.btn-principais {
    display: grid;
    grid-auto-flow: column;

    justify-content: start;
    align-items: center;

    gap: 16px;
}

.btn {
    border: none;

    background-color: none;

    color: white;

    cursor: pointer;

    box-sizing: border-box;
}

.btn-play {
    background-color: var(--cor-botao-play);

    width: 50px;
    height: 50px;

    border-radius: 50%;

    padding: 0;
    padding-left: 2px;

    display: flex;

    align-items: center;
    justify-content: center;
}

.btn-play i {
    font-size: 20px;
}

.btn-salvar {
    padding: 12px 24px;
    gap: 8px;

    height: 50px;

    border: 2px solid #6f6f6f;
    border-radius: 15px;

    display: flex;

    align-items: center;
    justify-content: center;
}

.btn-more {
    height: 50px;
    width: 60px;

    box-sizing: border-box;

    border: 2px solid #6f6f6f;

    border-radius: 15px;

    display: flex;

    justify-content: center;
    align-items: center;
}

.btn-more span {
    font-weight: bold;
    font-size: 35px;

    line-height: 0;

    display: inline-block;

    margin-top: -16px;
}
